<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax</title>
</head>
<body>
  <div class="container mt-5">
    <h1>Django Ajax App</h1>
    <div class ="row">
      <div>
      <h2>Students details</h2>
     
       
            <form id="myform" action="" method="POST" >
                 {% csrf_token %}
                 {{form.as_p}}
                <!-- <input type="submit"  class="btn btn-success" value="Save" id="btnsave"> -->
                
            </form> 
            <!-- <input type="button"  class="btn btn-success" value="GET" id="btnget">  -->
            
        </div>
        <div> 
            <!-- <div class="col-md-4" id="bbody"></div> -->
           <!-- <h3> list of students </h3>
           <table border="1" width="50%">
            <thead>
                <tr border="1" width="50%">
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Course</th>
                </tr>
            </thead> 
            <table border="1" width="50%">
                <tbody id="tbody">
                {% for st in sdata %}
                <tr>
                 <td>{{st.name}}</td>
                 <td>{{st.email}}</td>
                 <td>{{st.course}}</td>
                </tr>
                {% endfor %} 
                </tbody>
           </table>  -->

           <table>
                <!-- <thead>
                   <tr>
                       <th>Name</th>
                       <th>Email</th>
                       <th>Course</th>
                    </tr>
                </thead> -->
                <tbody>
                    <tr>
                        <th>Name:</th>
                        <td id="fullName"></td>
                    </tr>
                    <tr>
                        <!-- <th id="fullName">Name:</th> -->
                        <th>Name Starting letter:</th>
                        <td id="startingname"></td>
                    </tr>

                    <tr>
                        <th>Name Ending letter:</th>
                        <td id="Endingname"></td>
                    </tr> 
                    
                    <tr>
                       <th>Number of alphabet:</th>
                       <td id="alphabet" ></td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td id="Email" ></td>
                    </tr>

                    <tr>
                        <th>Email character:</th>
                        <td id="Emailchar"></td>
                    </tr>
                    
                    <tr>
                        <th>Email Special character:</th>
                        <td id="specialchar"></td>
                    </tr>
                    <tr>
                        <th>Course:</th>
                        <td id="course"></td>
                    </tr>
                        
                        <!-- <p><h2 id="fullName">Name:</h2></p>
                        <p id="startingname">Name Starting letter:</p>
                        <p id="Endingname">Name Ending letter:</p>
                        <p id="alphabet">Number of alphabet:</p>
                        <p id="Email"><h2>Email:</h2></p> 
                        <p id="Emailchar">Email character:</p>
                        <p id="Emailnum">Email numbers:</p> -->
                    </tr>

                </tbody>
                
                <table>
                <tbody id ="mbody">
                    {% for i in sdata %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.course}}</td>
                    </tr>
                    {% endfor %}
                </tbody>

           </table>
        </div>
         
   {% include 'ajax.html' %}  
</body>
</html>

<style>
    h1 {
        
    text-align:center;     

    }
    
     /* h3{
    position:absolute;
    top:100px;
    right:40px;  */

    /* } */
    /* table{
    position:absolute;
    top:100px;
    right:40px;  */
    /* }  */
    tr{
    text-align:center;     
  
    }
    thead{
    text-align:center; 
    }
    td{
        text-align:center;
    }
    .confirmation{
        background:#ffc728;
        max-width: 450px;
        padding: 20px;

    }
    
</style>