<!-- 
<h1> list of students </h1>
<table border="1" width="50%">
    <thead>
        <tr border="1" width="50%">
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Course</th>
        </tr>
    </thead>
    <table border="1" width="50%">
        <tbody id="bbody">
        {% for st in get_data %}
        <tr>
        <td>{{st.name}}</td>
        <td>{{st.email}}</td> 
        <td>{{st.course}}</td>
        </tr>
        {% endfor %} 
    </table> 
    

 -->
